@import url(reset.css);
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Black\ It.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Book\ It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Hair.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Hair\ It.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Heavy.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Heavy\ It.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Light\ It.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Medium\ It.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ Regular\ It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ SemiBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Biennale;
  src: url('/fonts/Biennale\ SemiBold\ It.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

:root {
  --primary-color: #8e1547; 
  --secondary-color: #922a5c;
  --light-color: #b24d7d;
  --gray-color: #838788;
  --with-color: #fff;
}

body {
  margin: 0; 
  padding: 0;
  color: var(--with-color);
  font-family: Biennale, Tahoma, Verdana;
  padding-bottom: 30%;
  overflow: hidden;
}

/* background */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -100;
}

.background img {
  width: 100%;
  object-fit: cover;
  margin: 30%;
}

/* Inicio */
.inicio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-block-start: 25%;
}

.inicio h1 {
  width: 100%;
  text-align: center;
  text-shadow: black 2px 2px;
  font-weight: bold;
  font-size: 6rem;
}

.logo__index {
  width: 50%;
  margin: auto;
}

.inicio p {
  font-size: 2rem;

}

.qr__container {
  display: grid;
  padding: 10%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: end;
}


.qr__img {
  height: 20rem;
  aspect-ratio: 1 / 1;
  width: auto;
}

/* menu */
.menu {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: fixed;
  bottom: 10%;
  justify-content: space-evenly;
}

.menu a,
button {
  text-align: center;
  width: 300px; 
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--with-color);
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 5px var(--gray-color);
  transition: all ease-in-out 6ms;
}

.menu a:hover,
button:hover {
  transform: scale(1.1);
  transition: all ease-in-out 6ms;
}

/* form */
.form {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  gap: 10px;
  margin: 30%  auto;
  padding:40px  20px;
  align-items: center;
  background-color: var(--light-color);
}

.form legend {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px #8e1547;
  margin: 1rem 0 3rem;

}

.form input {
  background-color: aliceblue;
  padding: 20px 30px;
  font-size: 20px;
  width: 60%;
  border-radius: 10px;
  transition: all ease-in-out 6ms;
}

.form input:hover{
  transform: scale(1.1);
  transition: all ease-in-out 6ms;
}

.form img {
  width: 70%;
  margin: auto;
}

/* game */
.game__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.question {
  width: 150%;
  padding: 20% 30% 10%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  background-color: var(--primary-color);
  box-shadow: 0px 10px 20px var(--light-color);
  border-radius: 0 0 100% 100%;
}

.answer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin: 10% auto;
  padding-inline: 5%;
  gap: 1rem;
  width: 100%;
}

.label__container {
  width: 100%;
}

.answer__container input[type="radio"] {
  display: none;
}

.answer__container label {
  background-color: var(--light-color);
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
  transition: background-color 0.3s ease-in-out;
}

.answer__container input[type="radio"]:checked + label {
  background-color: var(--primary-color);
  font-weight: 600;
  scale: 1.05;
}

.game__logo {
  width: 50%;
}

.game__container button {
  padding: 1rem;
  font-size: 2rem;
  width: 60%;
}

.game__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* score */
.scores {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  padding: 20%;
  gap: 2rem;
}

.scores h2 {
  font-size: 3rem;
  font-weight: 700;
}

.container__table {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
}

.container__table img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.scores table {
  font-size: 2rem;
  padding: 2rem;
  color: var(--primary-color);
}

.scores tr {
  background-color: rgba(183, 170, 170, 0.394);
}

.scores td {
  padding: 0 1rem;
}

/* notification */
.notification {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.392);
}

.notification_content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.notification_content img {
  top: 0;
  z-index: -2;
  border-radius: 20px;
}

.notification_content p {
  position: absolute;
  top: 40%;
  margin: auto;
  z-index: 1;
  font-size: 5rem;
  text-align: center;
  font-weight: 800;
}

/* fullscreen button */
.fullscreen__button {
  width: 2.5rem;
  position: absolute;
  right: 5%;
  bottom: 5%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

/* sound button */
.sound__button {
  width: 2.5rem;
  position: absolute;
  right: 10%;
  bottom: 5%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

/* loader */
.loader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  gap: 1rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.707);
  width: 100%;
  height: 100%;
  z-index: 2000;
  backdrop-filter: blur(5px);
}

.loader {
  border: 16px solid var(--with-color);
  border-top: 16px solid var(--primary-color); 
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);
 };
}

/* Result */
.result__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 60% 10% 10%;
  align-items: center;
}

.result__container img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.result__container h1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
}

.result__container p {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}